################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WS_Appointment/.vs/WS_Appointment/FileContentIndex
